#!/bin/bash
#SBATCH --job-name={{job_name}}
#SBATCH --time={{walltime}}
#SBATCH --nodes=1
#SBATCH --ntasks={{ntasks}}
#SBATCH --cpus-per-task={{cpus}}
#SBATCH --mem={{memory}}
#SBATCH --output=out.%j

export DFTB_PREFIX={{dftb_prefix}}
export DFTB_COMMAND="{{dftb_command}}"

srun --multi-prog {{conf_path}}
